/* This is a modified version of the CSS file from mit-license.org.
 * Copyright 2021 Remy Sharp, https://remysharp.com <remy@remysharp.com>
 * Copyright 2021 SuperBart <superbart-chen@qq.com>
 * Under MIT license. See https://www.mit-license.org/ for details.
 */

html {
    background: #eee
}

body {
    margin: 0;
    font-family: sans-serif;
    font-size: 1.2em;
    line-height: 1.2
}


img {
    min-width: 100%;
    max-width: 100%
}


.pictureInBox {
    text-align: center;
    text-decoration: underline;
    font-size: 0.8em
}

article,
footer {
    display: block;
    min-width: 360px;
    max-width: 900px;
    width: 80%
}

article {
    margin: 2.5em auto 0 auto;
    border: 1px solid;
    border-color: #ddd #aaa #aaa #ddd;
    padding: 2em;
    line-height: 1.6em;
    background: #fff
}

h1 {
    margin-top: 0
}

article p:first-of-type {
    margin-top: 1.6em
}

article p:last-child {
    margin-bottom: 0
}

article table {
    min-width: 100%;
    max-width: 100%;
    border-collapse: collapse
}

article table td,
article table th {
    border: 1px solid #ddd;
    padding: 8px;
}

article table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

article blockquote {
      font: 14px/22px;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 50px;
      margin-right: 50px;
      padding-left: 15px;
      padding-top: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      border-left: 3px solid #ccc;
      background-color:#f1f1f1
}

article code{
      background-color: #474949;
      color: #D1D9E1;
      padding-top: 0.05em;
      padding-bottom: 0.05em;
      padding-left: 0.4em;
      padding-right: 0.4em;
      margin: 0px
}

footer {
    margin: 0 auto 2em auto;
    text-align: center
}

footer a {
    color: #666;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
    font-size: .8em;
    padding: 1em
}

footer p {
    color: #000000;
    text-shadow: 0 1px 1px #fff;
    text-decoration: none;
    font-size: .8em;
    padding: 1em
}

footer a:focus,
footer a:hover {
    color: #111
}

h1 {
    font-weight: 400;
    display: inline;
    border-bottom: 1px solid #000;
    padding: 0 0 3px 0;
    line-height: 36px
}

a {
    color: #2844fa;
    text-decoration: none
}

a:focus,
a:hover {
    color: #1b29a4
}

a:active {
    color: #000
}

:-moz-any-link:focus {
    color: #000;
    border: 0
}

::-moz-selection {
    background: #ccc
}

::selection {
    background: #ccc
}

#gravatar {
    position: relative;
    float: right;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 1px solid #ddd
}

@media all and (max-width:900px) {
    article {
        padding: 1em
    }

    body {
        font-size: 1em
    }
}
